*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  --cell-size: 120px;
  --mark-size: calc(var(--cell-size) * 0.9); /* 90% of the cell */
}
body {
  margin: 0;
}
.board {
  margin: auto;
  width: 100vh;
  height: 100vh;
  display: grid;
  /* content is for actual grid positioning*/
  justify-content: center;
  align-content: center;
  /* items for material inside grid*/
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}
.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
}
/* first 3 cell of board */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  /* For top 3 cells */
  border-top: none;
}

/* left 3 cell of board */
.cell:nth-child(3n + 1) {
  border-left: none;
}
/* right 3 cell of board */
.cell:nth-child(3n + 3) {
  border-right: none;
}
/* last 3 cell of board */
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  /* For top 3 cells */
  border-bottom: none;
}

.cell.x,
.cell.circle {
  /* If the first cell is class x and 2nd cell is O
  In other words if it marked already then you are no allowed to move your curser in those*/
  cursor: not-allowed;
}

/* Dealing with x color so that it didnt override with hover effect*/
.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: black;
}

/********************* XXXXXXXXXXXXXXXXXXXXXXXXX *********************/

/* Dealing with x hover effect*/
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: lightgrey;
}

/********************* Dealing with x and already marked x *********************/

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

/***************************************************************/

/********************* OOOOOOOOOOOOOOOOOOOOOOOO *********************/
/* Dealing with O (common)*/

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
/* Its a black circle under a small white circle */
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}

/***************************************************************/
.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);

  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 5rem;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}
